
# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
COMPOSE_FILE=docker-compose.yml:docker-compose.mysql.yml:docker-compose.override.redis.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=common
# Docker Build Context Dir (end by slash)
DOCKER_BUILD_CONTEXT_DIR=./



MYSQL_ROOT_PASSWORD=ChangeThisToASecureRootPassword123!
REDIS_PASSWORD=ChangeThisToASecureRedisPassword123!